<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Rewrite for different login countries">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="\.([a-z]{2})$" />
                    </conditions>
                    <action type="Rewrite" url="../login_{C:1}/{R:1}" />
                </rule>
                <rule name="Default to SE">
                    <match url="(.*)" />
                    <action type="Rewrite" url="../login_se/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
