@import "../../../styles/constants";
@import "~@ecster/ecster-styles/scss/v2/common/media-queries";

.top-menu-container {
    max-width: $content-max-width-desktop;
    margin: 0 auto;
    padding: 16px 20px 0;
    display: flex;
    justify-content: space-between;

    .top-menu-links {
        a, a:visited {
            margin-left: 40px;
            &.menu-item--is-active {
                font-weight: bold;
                text-decoration: none;
            }
        }

        // TODO: remove tmp IE fix when fonts load in HITS
        .svg-icon--hamburger {
            display: none;
        }

        @include ie11-only {
            a {
                position: relative;
                top: -6px;
            }
            .icon-menu {
                display: none;
            }
            .svg-icon--hamburger {
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                top: -6px;
                .icon-paths {
                    stroke: #fff;
                }
            }
        }
        // TODO: end tmp fix

        .icon-link { // div tag
            margin-left: 40px;
            font-size: 24px;
            color: #fff;
            display: inline-block;
            position: relative;
            top: 4px;
            cursor: pointer;
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
    }
}

.submenu-container {
    position: relative;
    max-width: $content-max-width-desktop;
    margin: 0 auto;
}
