@import '../../../styles/constants';

.top-menu-container {
    max-width: $content-max-width-desktop;
    margin: 0 auto;
    padding: 16px 20px 0;
    display: flex;
    justify-content: space-between;

    .top-menu-links {
        a {
            margin-left: 40px;
            &.menu-item--is-active {
                font-weight: bold;
            }
        }
        .icon-link { // div tag
            margin-left: 40px;
            font-size: 24px;
            color: #fff;
            display: inline-block;
            position: relative;
            top: 4px;
            cursor: pointer;
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
    }
}

.submenu-container {
    position: relative;
    max-width: $content-max-width-desktop;
    margin: 0 auto;
}
