@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.expandable-panel {
    background: $white;
    width: 100%;
    padding: 10px 30px;

    @include mobile() {
        margin: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    &.panel--no-bottom-padding {
        padding-bottom: 0;
    }

    &--bordered {
        border-radius: 8px;
        border: solid 1px $beige40;
    }

    &__content {
        transition: height 218ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;
    }

    &__expander {
        outline: none;
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 40px;
        width: 100%;
        cursor: pointer;

        &:focus {
            .panel-expander__show-more-text {
                text-decoration: underline;
            }
        }
    }

    &__show-more-text {
        font-family: "Campton";
        text-align: left;
        font-weight: $weight-semibold;
        font-size: 24px;
        color: $gray140;
    }

    &__arrow-wrapper {
        position: relative;
        width: 50px;

        @include mobile() {
            margin-right: 10px;
        }
    }

    &__arrow {
        position: absolute; // IE11 fix for roatation origin to be center
        margin-top: -10px;
        font-size: 40px;
        text-align: center;
        color: $green;
        transition: transform 0.2s 0s ease-in-out;
        transform-origin: 50% 50%; // Does not work for IE11 with SVG
        text-decoration: none;
    }

    &__arrow--expanded {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
    }
}
