<?xml version='1.0' encoding='utf-8'?>
<widget id="se.ecster.login" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EcsterLogin</name>
    <description>
        Ecster Inloggat App
    </description>
    <author email="joli44@ecster.se, jobo15@ecster.se" href="http://www.ecster.se">
        Ecster Customer Dev Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="bankid:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="ios" spec="^4.5.4" />
</widget>
