@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-styles/scss/v2/common/font-weights';

.account-header-mobile {
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 0;

    .ecster-card {
        position: absolute;
        top: -30px;
        right: 0;
        height: 80px;
        width: 120px;

        img {
            width: 112px;
        }
    }

    &__panel {
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
        width: 100%;
    }

    &__card-number {
        h3 {
            font-size: 24px;
            color: $green120;
            font-weight: $weight-semibold;
            margin-bottom: 0;
        }
        div {
            color: $gray;
            font-size: 12px;
        }
    }

    &__amount {
        margin: 30px 0;
        font-family: 'Campton', sans-serif;
        font-size: 38px;
        font-weight: $weight-light;
        text-align: center;
        color: $green120;

        p {
            font-size: 14px;
            text-align: center;
            color: #5c5c5c;
            margin: 0;
        }
    }
}
