@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';

.account-panel {
    padding: 10px;
    background: white;
    border: 1px solid $beige40;
    border-radius: 6px;
    min-height: 150px;
    
    @include mobile() {
        padding: 0px;
    }

    &__body {
        padding: 20px;

        @include mobile() {
            padding: 0px;
        }
    }

    &__latest {
        padding-bottom: 30px;
        border-bottom: 1px solid $beige40;
        
        @include mobile() {
            padding-bottom: 30px;
            border-bottom: none;
        }
    }
    
    &__next-payment {
        padding-top: 20px;
        
        @include mobile() {
            padding: 20px;
            border-top: 1px solid $beige40;
            border-bottom: 1px solid $beige40;
        }
    }

    &__account-links {
        height: 100%;
        padding-left: 30px;
        margin-left: 30px;
        border-left: 1px solid $beige40;
        
        @include mobile() {
            padding-left: 0px;
            border-left: none;
            margin: 0px;
        }
    }
}
