@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';
@import '~@ecster/ecster-components/scss/MediaQuery';

.account-sales-panel {
    @include mobile() {
        padding: 0px 20px;
    }

    h4 {
        color: $gray140;
        font-weight: $weight-semibold;
        margin: 0px 0px 10px 0px;
    }

    .button-column {
        max-width: 150px;
        text-align: right;
    }
}
