@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.account-summary {
    background-color: $green20;
    border: 1px solid $green40;
    height: 50px;
    border-radius: 8px;

    @include mobile() {
        height: inherit;
        padding: 20px;
        margin: 0 15px;
    }

    .wrapper {
        color: $green140;
        font-size: 16px;
        height: 100%;

        & > div {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .border-left {
            border-left: 1px solid $green60;

            @include mobile() {
                border: none;
            }
        }

        article {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;


            &.first { // wrapping divs added, can't use first-child
                @include mobile() {
                    padding-top: 0;
                }
            }
            &.last { // wrapping divs added, can't use last-child
                @include mobile() {
                    padding-bottom: 0;
                }
            }

            div:last-child {
                margin-left: 10px;
                font-weight: $weight-bold;
            }

            @include mobile() {
                justify-content: space-between;
                padding: 5px 0;

                div:first-child {
                    font-size: 14px;
                }
                div:last-child {
                    font-size: 18px;
                }
            }
        }
    }
}
