@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';

.account-panel {

    @include mobile() {
        padding: 0;
    }

    &__body {
        padding: 20px;

        @include mobile() {
            padding: 0;
        }
    }
}
