@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';
@import '~@ecster/ecster-components/scss/MediaQuery';

.account-sales-panel {
    @include mobile() {
        padding: 0 20px 20px;
    }

    h4 {
        color: $gray140;
        font-weight: $weight-semibold;
        margin: 0 0 10px 0;
    }
}
