@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';

.latest-transactions {
    align-items: center;

    h4 {
        font-weight: 600;
        color: $gray140;
        margin: 0px 0px 10px 0px;
        text-align: left
    }

    &__date {
        max-width: 80px;
    }
}