@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-styles/scss/v2/common/font-weights";

.latest-transactions {
    align-items: center;

    h4 {
        font-weight: $weight-semibold;
        color: $gray140;
        margin: 0 0 10px 0;
        text-align: left
    }

    &__date {
        max-width: 80px;
    }
}
