@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.next-payment-panel {
    font-family: 'PT Sans';
    font-size: 16px;
    color: $gray140;

    h4 {
        color: $gray140;
        font-weight: $weight-semibold;
        margin: 0px 0px 10px 0px;
    }

    .word-wrap {
        word-break: inherit;
    }

    p {
        margin: 0px;
    }
}
