@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-styles/scss/v2/common/font-weights';
@import '~@ecster/ecster-styles/scss/v2/common/media-queries';

.next-payment-panel {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: $gray140;

    @include mobile() {
        padding: 0;
    }

    h4 {
        color: $gray140;
        font-weight: $weight-semibold;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: space-between;
    }

    p {
        margin: 10px 0;
    }

    .link-no-style {
        color: $gray140;
        text-decoration: none;
        &:visited, &:active, &:hover {
            color: $gray140;
            text-decoration: none;
        }
    }

    .detail-link {
        display: block;
        text-align: right;
        margin-top: 15px;
    }
}
