@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';
@import '~@ecster/ecster-components/scss/MediaQuery';

.next-payment-panel {
    font-family: 'PT Sans', 'sans-serif';
    font-size: 16px;
    color: $gray140;

    @include mobile() {
        padding: 0 20px;
    }

    h4 {
        color: $gray140;
        font-weight: $weight-semibold;
        margin: 0 0 10px 0;
    }

    .word-wrap {
        word-break: inherit;
    }

    p {
        margin: 0;
    }

    .link-no-style {
        color: $gray140;
        text-decoration: none;
        &:visited, &:active, &:hover {
            color: $gray140;
            text-decoration: none;
        }
    }
}
