@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';

.account-overdrawn-info {

    display: flex;
    flex-direction: row;
    padding: 40px 40px 30px;
    margin: 0 20px;
    border-bottom: 1px solid $gray40;

    & > img, & > div {
        display: inline-block;
    }

    img {
        width: 34px;
        height: 34px;
        margin-right: 34px;
    }

    p {
        margin: 0;
    }

    @include mobile() {
        flex-direction: column;
        padding: 20px 0;
        border-bottom: none;
        img {
            display: none;
        }
    }
}
