@import '../../styles/mixins';
@import '../../styles/constants';
@import "~@ecster/ecster-styles/scss/v2/theme/theme";

.home-app {
    height: 100%;

    .page-container {
        padding: 40px auto 0;
        max-width: $content-max-width-desktop;
    }
}
