
@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-components/scss/MediaQuery";

.home-login-page {

    .bankid-form {
        max-width: 500px;
        background: #fff;
        margin: 0 auto;
        padding: 30px 20px;
        border: 1px solid $beige40;
        border-radius: 6px;
        box-shadow: 0 0 8px $beige20;

        .text-input {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        @include mobile() {
            margin: 0 15px;
        }

        @include tablet() {
        }

        @include desktop() {
        }

        h1, button.\--block, p, input {
            margin-bottom: 20px;
        }


    }

    iframe.start-bankid {
        position: absolute;
        left: -10000px;
        top: -10000px;
        width: 1px;
        height: 1px;
        border: none;
    }
}
