@import '../../styles/mixins';
@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-components/Button/Button.css";

//$border-color: #e1dbd1;
//$border: 1px solid $border-color;
//$box-padding: 17px;

body {
    background: 0 11rem no-repeat $beige10;
    background-size: contain;
}

.home-login-page {
    @include grid-cell(1, 1, 1, 1);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100%;
    width: 100%;

    padding: 10px;

    // TODO remove later
    .debug {
        color: #cde3f2;
        position: absolute;
        top: 4px;
        left: 4px;
        font-family: verdana, sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    // TODO remove later
    .debug-small {
        color: #cde3f2;
        position: absolute;
        top: 32px;
        left: 4px;
        font-family: verdana, sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    @include grid((
        rows: 1fr,
        cols: 1fr
    ));

    &__logo {
        @include grid-cell(1, 1, 1, 1); /* We need to specify the row as well, since we use the row position for other items */
        @include x-align(center);

        margin-top: 10vmin;

        & svg {
            display: block; // so the link element wraps the entire SVG.
            width: 170px;
            fill: $green;
        }
    }

    &__box {
        @include grid-cell(1, 1, 1, 1); /* We need to specify the row as well, since we use the row positon for other items */

        @include grid((
            cols: 1fr, // Needed for IE11 to correctly center the items, otherwise they will center around the longest item.
            rows: 2rem 1fr
        ));

        @include xy-align();

        overflow: hidden;
        padding: 20px;
        max-width: 50rem;
        background: #fff;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
        border: 1px solid $beige40;
        position: relative;
    }

    &__form {
        @include grid-cell(1, 1, 1, -1);
        margin-bottom: 30px;

        //@include grid((
        //    cols: 1fr, // Needed for IE11 to correctly center the items, otherwise the'll center around the longest item.
        //    rows: 1fr
        //));

        &--help {
            //@include grid-cell(1, 1, 1, 1);

            //@include grid((
            //    cols: 1fr, // Needed for IE11 to correctly center the items, otherwise the'll center around the longest item.
            //    rows: 1fr
            //));

            transform: translateX(100%);
            will-change: transform;
        }

        h1, h2 { // , &__header
            //@include x-align(center);
            //@include grid-cell(1, -1, 1, 1);

            //margin: 0 0 20px;
            color: $green120;
            font-weight: 700;
            //font-size: 3.6rem;
            //font-weight: 600;
            text-align: center;
        }

        h1 {
            font-size: 36px;
            margin: 20px 0 40px;
        }

        h2 {
            font-size: 26px;
            margin: 20px 0 30px;
        }

        .text-input {
            //input {
            width: 27rem;
            //height: 4.4rem;
            //border-radius: 6px;
            //}
            margin: 0 auto 30px auto;
        }

        .button.--round {
            display: block;
            margin: 0 auto 30px auto;
        }

        .button.--link {
            display: block;
            margin: 0 auto;
        }

    }



    &__link {
        color: $green;
        font-weight: 900;
        text-decoration: none;

        &--logo {
            display: inline-block; /* To only get the hover effect when hovering over the actual logo */
        }

        &--bankid {
            display: block; // Needed for IE11 to get the correct stack order
            //@include x-align(center);
            //@include grid-cell(1, 1, 3, 1);

            //margin: 30px 0 0 0;
        }
        //&--back {
        //    &:before {
        //        font-family: "Ecster Icons";
        //        content: "\e921";
        //    }
        //}
    }

    & .help {
        //@include grid-cell(1, 1, 1, 1);
        //@include x-align(end);

        &__icon:after {
            border: 1px solid;
            content: '?';
            font-weight: 400;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            display: inline-block;
            text-align: center;
        }
    }

    .help__icon:hover:after {
        text-decoration: none;
    }

    &__body {
        @include grid-row(2);
    }

    & .other-device {
        .home-login-page__header {
            //text-align: center;
            //font-size: 2.2rem;
        }

        .text-input {
            //@include grid-cell(1, 1, 2, 1);
            //@include x-align(center);

            //margin-bottom: 20px;
        }
        .home-login-page__button {
            //@include grid-cell(1, 1, 3, 1);

            //margin-top: 20px;
        }
        .home-login-page__link {
            //@include grid-cell(1, 1, 4, 1);

            //margin-top: 40px;
        }
    }

}

@include isLandscape {
    body {
        background-size: cover;
    }

    .home-login-page {
        &__form {
            //margin-bottom: 20px;
        }

        &__header {
            //margin-top: 20px;
        }

        &__button {
            //margin-top: 40px;
        }
    }
}


@mixin tabletDesktopH1H2() {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }
}

/////////////////
/*** TABLET ***/
///////////////

@media all and (min-width: 768px) {
    body {
        background-position: 0 bottom;
    }

    .home-login-page {

        @include tabletDesktopH1H2();

        &__logo {
            & svg {
                width: 320px;
                height: inherit;
            }
        }

        &__form {
            //margin-bottom: 60 - $box-padding;
        }

        &__header {
            //font-size: 5rem;
            //margin-top: 23px;
        }

        &__button, &link--bankid {
            //margin-top: 30px;
        }
    }
}

@media all and (max-width: 768px) and (orientation: landscape) {
    .home-login-page {
        background-size: cover;

        &__logo {
            @include x-align(left);
            margin: 1vmin;

            & svg {
                width: 100px;
            }
        }
    }
}

//////////////////
/*** DESKTOP ***/
////////////////

@include isDesktop {
    .home-login-page {

        @include tabletDesktopH1H2();

        background-position: 0 0;
        background-size: cover;

        &__logo {
            justify-self: inherit;
            margin: 39px 0 0 149px;

            & svg {
                width: 220px;
            }
        }

        &__box {
            @include xy-align();
            @include grid-row(1);
        }

        //&__form {
        //    //margin-bottom: 80 - $box-padding;
        //}
        //
        //&__header {
        //    //margin-top: 60 - $box-padding;
        //}
        //
        //.text-input {
        //    //@include grid-row(2);
        //    //@include x-align(center);
        //
        //    //margin-top: 40px;
        //
        //    //span {
        //    //    display: block; // div isn't allowed inside label
        //    //    margin-left: 1rem;
        //    //}
        //    //
        //    //label {
        //    //    //font-size: 1.4rem;
        //    //}
        //}

        //&__button {
        //    //@include grid-row(3);
        //
        //    //margin-top: 30px;
        //}
        //
        //&__link {
        //    &--bankid {
        //        //@include grid-row(4);
        //
        //        //margin-top: 30px;
        //    }
        //}
    }
}
