
@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-components/scss/MediaQuery";

.home-login-page {

    .bankid-form {
        max-width: 500px;
        background: #fff;
        margin: 0 auto 40px;
        padding: 20px 20px 30px;
        border: 1px solid $beige40;
        border-radius: 6px;
        box-shadow: 0 0 8px $beige20;

        .text-input {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        .help-link-ctr {
            text-align: right;
            font-weight: bold;
            margin-bottom: 20px;
            .icon-alert-circle {
                display: inline-block;
                transform: rotate(180deg);
            }
        }

        @include mobile() {
            padding-top: 30px;
            margin: 0 15px 40px;
        }

        @include tablet() {
        }

        @include desktop() {
        }

        button.\--block, p, input {
            margin-bottom: 20px;
        }
    }

    // tech iframe for starting native BankID apps
    // don't show to user
    iframe.start-bankid {
        position: absolute;
        left: -4px;
        top: -4px;
        width: 1px;
        height: 1px;
        border: none;
    }
}
