
.home-start-page {
    max-width: 600px;
    margin: 20px auto 0;
    text-align: center;

    .bankid-form {
        max-width: 250px;
        margin: 0 auto;
    }

    h1, button, p {
        margin-bottom: 20px;
    }

    iframe.start-bankid {
        position: absolute;
        left: -10000px;
        top: -10000px;
        width: 2px;
        height: 2px;
        border: none;
    }
}
