@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.loan-cost {
    text-align: center;

    h4 {
        margin: 0px;
        font-size: 18px;
        font-weight: $weight-medium;
        text-align: center;
        color: $gray140;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;

        h5 {
            margin: 0px;
            font-size: 50px;
            font-weight: $weight-bold;
            color: $gray140;
        }

        div {
            margin: 2px 0px 0px 15px;
            text-align: left;
            font-size: 14px;
            color: $gray;
        }
    }
}
