@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.loan-general-information-panel {
    .body {
        margin-top: 20px;
    }

    .input-field {
        margin-top: 10px;
    }

    .clearing-field {
        width: 200px;
        margin-right: 10px;
    }

    .apply-button {
        width: 100%;
        margin: 50px 0 40px 0;
        display: flex;
        justify-content: center;

        @include mobile() {
            // Need to leave room for a possible error message that needs position absolute.
            margin: 45px 0 15px 0;
        }
    }

    .account-number {
        display: flex;
        flex-direction: row;
    }

    .account-number-label {
        display: block;
        margin: 0 0 4px 0;
        font-size: 14px;
        font-weight: normal;
    }

    section {
        & .responsive-column {
            &:first-child {
                padding-right: 30px;

                @include mobile() {
                    padding-right: 0;
                }
            }
            &:last-child {
                padding-left: 30px;

                @include mobile() {
                    padding-left: 0;
                }
            }
        }
    }

    .terms-section {
        display: flex;
        flex-direction: row;
        margin: 50px 30px 0;

        label{
            display: flex;
        }

        .text {
            font-size: 14px;
            font-weight: normal;
            margin-left: 10px;
        }

        .err-msg{
            top: 100%;
            margin-left: 30px;
        }
    }

}
