@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

$marginTop: 20px;

.loan-economy-panel {
    .e-radio{
        display: inline-block;
        margin-right: 20px;
    }

    .ec-responsive-panel{
        & + h4,
        &:nth-child(n + 2) {
            margin-top: $marginTop;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        align-content: space-between;

        & .responsive-column {
            &:first-child {
                padding-right: 30px;

                @include mobile() {
                    padding-right: 0;
                }
            }
            &:last-child {
                padding-left: 30px;

                @include mobile() {
                    padding-left: 0;
                }
            }
        }
    }
    .input-field {
        margin-top: 10px;
    }

    .next-button {
        width: 100%;
        margin: 50px 0 40px 0;
        display: flex;
        justify-content: center;

        @include mobile() {
            margin: 25px 0 15px 0;
        }
    }

    .economy-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        div {
            margin-left: 5px;
        }
    }

    @include mobile() {
        .ec-panel {
            border-left: none;
            border-right: none;
            border-radius: 0;
            padding: 10px 15px;
        }
        .ec-responsive-column:nth-child(n + 2){
            margin-top: 20px;
        }

        section{
            margin-right: 0;
        }
    }


    // Utility classes

    .max-50 input{
        max-width: 50%;
    }

}
