@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.loan-header-panel {
    .header {
        padding: 30px 50px;

        h2 {
            font-weight: $weight-light;
            color: $green120;
            font-size: 50px;
            margin: 0px;
        }
    }

    .image {
        padding: 20px 0px;
    }

    .body {
        margin-top: 20px;
        padding: 50px 30px 25px 30px;

        h2 {
            text-align: center;
            font-weight: $weight-bold;
            color: $green120;
            font-size: 44px;
            margin: 0px;
        }
        
        .sliders {
            width: 500px;
            margin: 50px auto 0px auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: space-between;
        }
    }
}
