@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.loan-economy-panel {
    .radio-buttons {
        display: inline-block;
        margin-right: 20px;
    }
    .radio-button{
        display: inline-block;

        &:nth-child(n+2) {
            margin-left: 20px;
        }
    }

    section {
        & .responsive-column {
            &:first-child {
                padding-right: 30px;

                @include mobile() {
                    padding-right: 0;
                }
            }
            &:last-child {
                padding-left: 30px;

                @include mobile() {
                    padding-left: 0;
                }
            }
        }
    }
    .input-field {
        margin-top: 10px;
    }

    .next-button {
        width: 100%;
        margin: 50px 0 40px 0;
        display: flex;
        justify-content: center;

        @include mobile() {
            margin: 25px 0 15px 0;
        }
    }

    .economy-row {
        margin-bottom: 20px;
    }

    .formEconomy {

        @include mobile() {
            section {
                margin-right: 0;
            }
        }
    }

    @include tabletOrDesktop(){
        .mt-4x{
            margin-top: 0;
        }
    }
}
