@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.loan-summary-panel {
    .panel {
        padding: 20px 40px;
        background-color: $green20;
        border: 1px solid $green40;

        .loan-data-columns {
            margin: 0px -20px;
        }

        .data-columns__section--bordered {
            border-right: 1px solid $green40;
        }
    }
    
    h2 {
        color: $green140;
        text-align: center;
        font-weight: $weight-semibold;
    }
    
    .expander {
        width: auto;
        margin: 20px -20px 0px -20px;
        background: none;
        
        .expandable-bottom-panel__expander {
            border-top: 1px solid $green40;
        }

        .specs {
            margin: 20px;
        }
    }
}
