@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/common/_colors.scss';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.loan-general-information-panel {
    @include mobile() {
        .panel {
            border-left: none;
            border-right: none;
            border-radius: 0px;
            padding: 10px 15px;
            margin-top: 20px;
        }
    }

    h4 {
        color: $green;
        font-weight: $weight-semibold;
    }

    .body {
        margin-top: 20px;
    }

    .input-field {
        margin-top: 10px;
    }

    .clearing-field {
        width: 150px;
        margin-right: 10px;
    }

    .apply-button {
        width: 100%;
        margin: 50px 0px 40px 0px;
        display: flex;
        justify-content: center;

        @include mobile() {
            margin: 25px 0px 15px 0px;
        }
    }

    .account-number {
        display: flex;
        flex-direction: row;
    }

    .account-number-label {
        display: block;
        margin: 0 0 4px 0;
        font-size: 14px;
        font-weight: normal;
    }

    section {
        & .responsive-column {
            &:first-child {
                padding-right: 30px;

                @include mobile() {
                    padding-right: 0px;
                }
            }
            &:last-child {
                padding-left: 30px;

                @include mobile() {
                    padding-left: 0px;
                }
            }
        }
    }
}
