@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-components/scss/MediaQuery';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.se-terms {
    h4 {
        font-size: 30px;
        font-weight: $weight-bold;
        color: $green120;
        margin: 0;

        @include mobile() {
            font-size: 24px;
        }
    }

    h5 {
        font-size: 16px;
        font-weight: $weight-bold;
        font-family: 'PT Sans', sans-serif;
        margin: 0;
    }

    section {
        margin-top: 40px;
        p {
            margin-top: 20px;
        }
    }
}
