@import "~@ecster/ecster-styles/scss/v2/common/colors";

.customer-profile-page {

    $padding: 25px;

    dl {
        margin: 0;
        dt {
            padding: $padding 0 5px;
            &:first-child {
                padding-top: 0;
            }
        }
        dd {
            display: flex;
            justify-content: space-between;
            padding-bottom: $padding;
            margin: 0;
            border-bottom: 1px solid $gray40;
            font-weight: bold;
            font-size: 18px;

            &:last-child {
                padding-bottom: 0;
                border: none;
            }
        }
    }
}
