[role="main"] > footer{
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    display: flex;
    margin: 6px;
    max-width: 890px;
    width: 100%;
    justify-content: center;

    .copyright{
        left: 0;
    }

    .links{
        right: 0;
        white-space: nowrap;

        :first-child{
            margin-right: 20px;
        }
    }

    .ends {
        position: absolute;

        /* Vertically align items in IE11 */
        top: 0;
        bottom: 0;
        line-height: 200%;
    }
}
