@import "~@ecster/ecster-styles/scss/v2/include/media-queries";

.common-onboarding-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .dialog-ctr {
        padding: 25px 15px; // adds to DialogBody 15px padding

        .hand-icon {
            width: 150px;
            height: auto;
        }

        h2 {
            text-align: center;
        }

        @include mobile() {
            padding: 20px 0;

            .hand-icon {
                width: 100px;
                height: auto;
            }

            h2 {
                font-size: 24px;
            }

        }
    }
}
