@import "~@ecster/ecster-components/scss/MediaQuery";

.account-name{
    font-size: 36px;
    text-align: center;
}

.account-terms-panel {
    margin-top: 40px;
    margin-bottom: 30px;

    a {
        font-weight: $weight-bold;
    }

    .info-item {
        padding: 15px;
        border-bottom: 1px solid $gray40;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        & > div {
            display: inline-block;
            vertical-align: top;
        }

        .label {
            width: 30%;
        }
        .value {
            $button-adjust: 12px;
            width: 34%;
            font-weight: $weight-bold;
            padding-left: $button-adjust;
            .button {
                position: relative;
                left: -$button-adjust;
            }
        }
        .description {
            color: $gray120;
            font-size: 14px;
            padding-left: 12px;
            width: 36%;
        }

        @include mobile() {
            .label {
                width: 45%;
            }
            .value {
                width: 55%;
                text-align: right;
                .button {
                    left: 0;
                }
            }
            .description {
                display: none;
            }
        }
    }
}
