@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-components/scss/MediaQuery";

.account-terms-panel {

    margin-bottom: 30px;
    .info-item {
        padding: 15px;
        border-bottom: 1px solid $gray40;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        & > div {
            display: inline-block;
        }

        .label {
            width: 30%;
        }
        .value {
            $button-adjust: 12px;
            width: 30%;
            font-weight: bold;
            padding-left: $button-adjust;
            .button {
                position: relative;
                left: -$button-adjust;
            }
        }
        .description {
            color: $gray80;
            font-size: 14px;
            width: 40%;
        }

        @include mobile() {
            .label {
                width: 50%;
            }
            .value {
                width: 50%;
            }
            .description {
                width: 100%;
            }
        }
    }
}

.account-terminate-panel {
    &.white-box {
        padding: 30px;
    }
    p {
        margin: 0 0 15px 0;
    }
    .button-group {
        padding-bottom: 0;
    }
}
