@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-components/scss/MediaQuery";

.account-account-terms {

    .info-item {
        padding: 15px;
        border-bottom: 1px solid $gray40;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        & > div {
            display: inline-block;
        }

        .label {
            width: 30%;
        }
        .value {
            width: 30%;
            font-weight: bold;
        }
        .description {
            color: $gray80;
            font-size: 14px;
            width: 40%;
        }

        @include mobile() {
            .label {
                width: 50%;
            }
            .value {
                width: 50%;
            }
            .description {
                width: 100%;
            }
        }
    }
}
