@import '../../styles/mixins';
@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-styles/scss/v2/common/font-sizes";
@import "~@ecster/ecster-styles/scss/v2/common/font-weights";

.account-overview-page {

    .ec-panel {
        margin-bottom: 40px;
    }

    a {
        &.button {
            &.show-more {
                font-size: $font-size-medium;
                font-weight: $weight-medium;
                color: $purple;
                background: transparent;
                margin-top: 2%;
                padding: 0;

                i {
                    color: $black;
                }
            }
        }
    }

}
