@import '../../styles/mixins';
@import '~@ecster/ecster-styles/scss/v2/theme/theme';

.account-overview-page {

    .ec-panel {
        margin-bottom: 40px;
    }

    .button.show-more {
        font-size: $font-size-medium;
        font-weight: $weight-medium;
        color: $purple;
        background: transparent;
        margin-top: 2%;
        padding: 0;

        i {
            color: $black;
        }
    }
}
