.card-manage-card-page {
    .ecster-card {
        max-width: 240px;
        height: auto;
        margin: 0 auto 30px;
    }
    .card-name {
        text-transform: capitalize;
    }

    &-container > div, &-container > section {
        margin-bottom: 20px;
    }

    .narrow-content { // TODO: add to ecster-components/Panel.scss
        max-width: 480px;
        margin: 0 auto;
    }

    .activate-form {
        text-align: left;
        max-width: 400px;
        align-items: flex-end;
        margin: 30px auto 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile() {
            flex-direction: column;
            align-items: center;
            & > div {
                margin-bottom: 30px;
            }
        }

    }

}
