@import "~@ecster/ecster-styles/scss/v2/common/colors";

.card-show-card-panel {
    .ecster-card {
        margin: 0;
        max-width: 260px;
        height: auto;
    }
    .card-info {
        color: $green120
    }
}
