@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-styles/scss/v2/common/media-queries";

.card-show-card-panel {
    .ecster-card {
        margin: 0;
        max-width: 260px;
        height: auto;
    }

    .card-info {
        color: $green120
    }

    @include mobile() {
        .ecster-card {
            margin: 0 auto;
        }
        .card-ctr {
            margin-bottom: -25px;
            position: relative;
            z-index: 2; // box-shadow on top of next div
        }

        .card-info-ctr {
            margin-top: 30px;
        }
    }
}
