@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "~@ecster/ecster-styles/scss/v2/common/media-queries";

.card-essage-panel {
    img {
        margin-bottom: 20px;
        width: 100px;
        height: auto;
    }
}
