// index is the entry for all styles.
@import './reset.css';
@import './global';
@import '../features/home/style';
@import '../features/common/style';
@import '../features/account/style';
@import '../features/authentication/style';
@import '../features/customer/style';
@import '../features/loan/style';

//@import "~@ecster/ecster-styles/scss/v2/theme/theme"; // fonts incl icons
@import '~@ecster/ecster-styles/v2/include/margins';
@import '~@ecster/ecster-styles/v2/include/paddings';
@import '~@ecster/ecster-styles/v2/include/color-classes';
@import '~@ecster/ecster-styles/scss/v2/common/colors';

html, body {
    height: 100%;
}

// TODO: remove, just temporary for routing / login tests /joli44
.page {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    h1 {
        color: $green;
    }
}
