// index is the entry for all styles.
@import './reset.css';
@import '../features/home/style';
@import '../features/common/style';
@import '../features/account/style';
@import '../features/authentication/style';
@import '../features/customer/style';
@import '../features/loan/style';
@import '../features/invoice/style';

@import "~@ecster/ecster-styles/scss/v2/theme/theme"; // fonts incl icons
@import '~@ecster/ecster-styles/scss/v2/include/margins';
@import '~@ecster/ecster-styles/scss/v2/include/paddings';
@import '~@ecster/ecster-styles/scss/v2/include/color-classes';
@import '~@ecster/ecster-styles/scss/v2/common/colors';

html, body, #react-root {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    background: $beige10;
}

h1 {
    font-weight: 700;
    color: $green120;
    margin-bottom: 30px;
}

h2 {
    font-weight: 700;
    color: $green120;
    margin-bottom: 30px;
}

h3 {
    font-weight: 600;
    color: $green120;
    margin-bottom: 25px;
    line-height: 32px;
}
