// index is the entry for all styles.
@import "~normalize-scss/sass/normalize";
@import './mixins';
@import "~@ecster/ecster-styles/scss/v2/theme/theme";
@import "~@ecster/ecster-styles/scss/v2/include/paddings";
@import "~@ecster/ecster-styles/scss/v2/include/margins";
@import "~@ecster/ecster-styles/scss/v2/include/color-classes";
@import "~@ecster/ecster-components/Button/Button.css";

// fonts incl icons
@import '../features/home/style';
@import '../features/common/style';
@import '../features/account/style';
@import '../features/authentication/style';
@import '../features/customer/style';
@import '../features/loan/style';
@import '../features/invoice/style';
@import '../features/card/style';

$border-color: #e1dbd1;
$border: 1px solid $border-color;
$color-text: #333;

*, *:before, *:after {
    box-sizing: border-box;
}

html, body, #react-root {
    /* everywhere grid is used both col and rows needs to be defined for IE11 to work */
    @include grid((
        cols: 1fr,
        rows: 1fr
    ));

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

// Remove number spinner in number-field
input[type=number],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

// Remove blue outline on focus
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

:root {
    font-size: 62.5%;
}

body {
    color: $color-text;
    font-size: 1.6rem;
    min-width: 32rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.font-loaded {
    font-family: "PT Sans", sans-serif;

    button, input, optgroup, select, textarea {
        /* Need to override the normalize.css */
        font-family: inherit;
        font-size: inherit;
    }

    h1 {
        font-family: "Campton", sans-serif;
    }
}

label {
    cursor: pointer;
}

button {
    font-size: 1.4rem;
}

a, button, input[type=submit] {
    cursor: pointer;
}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

input {
    border-radius: 6px;
    -moz-appearance: textfield;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    color: $green120;
    font-weight: 700;
}

h1 {
    font-size: 36px;
    margin-bottom: 36px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 26px;
    margin-bottom: 26px;
}

h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 600;
}

p {
    margin-top: 1rem;
}

strong, .strong {
    font-weight: bold;
}

.flex-row, .flex-column {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

// experimental react-tooltip overrides
// TODO: make a wrapper component in ecster-components, sync with or use the one from Dashboard
.ecster-tooltip {
    max-width: 240px;
    opacity: 1 !important;
    font-size: 16px;
    padding: 15px;

    &.border {
        border-color: $gray60 !important;
        box-shadow: 0 0 6px $gray40;

        &.place-bottom:before,
        &.place-top:before,
        &.place-right:before,
        &.place-left:before {
            border-bottom-color: $gray80 !important;
        }
    }
}

a[href^="tel:"] {
    &, &:focus, &:active, &:visited {
        font-weight: $weight-bold;
        color: $color-text;
        text-decoration: none;
    }
}
