// don't remove: imported in rekit generated components /joli44
@import "~@ecster/ecster-styles/scss/v2/include/grid-utils.scss";

@mixin visually-hidden {
    /**Usage: Where you need the class:
        @include visually-hidden;

        Instead of importing a lot of classes (like importing an entire file of css) that you don't need you can pick what you require
     */

    .visually-hidden {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
    }
}
