@import '../../styles/mixins';
@import '~@ecster/ecster-components/scss/MediaQuery';
@import "~@ecster/ecster-styles/scss/v2/common/colors";

.loan-summary-page {
    @include mobile() {
        .expander {
            border-left: none;
            border-right: none;
            border-radius: 0;
            padding: 10px 15px;
            margin-top: 20px;
        }
    }

    form section {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: 98%;
    }

    .has-error .ec-text-input__err-msg, .has-error .text-input__err-msg, .err-msg {
        // Don't jump the layout when err message is visible
        position: absolute;
    }

    .input-field {
        // Leave room for error message
        margin-top: 20px;
    }

    .loan-panel,
    .loan-panel section h4 {
        margin-top: 20px;
    }

    //label {
    //    display: block;
    //}

    // Utility classes

    .max-50 input {
        max-width: 50%;
    }
    .no-wrap{
        white-space: nowrap;
    }

}
