@import '../../../styles/mixins';
@import '../../../styles/constants';
@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-styles/scss/v2/include/media-queries';
@import '~@ecster/ecster-styles/scss/v2/theme/fonts/_campton.scss';

.common-authenticated-sub-page {
    h1 {
        font-size: 36px;
        font-weight: $weight-semibold;
        color: $green120;
        text-align: center;
    }
    .page-header {
        width: 100%;
        margin: 0;
        background: $beige20;
        border-bottom: 1px solid $beige40;
        position: fixed;

        @include ie11-only() {
            left: 0;
        }

        &-content {
            display: flex;
            flex-flow: row nowrap;
            position: relative;
            align-items: center;
            max-width: $content-max-width-desktop;
            margin: 16px auto;
        }

        a {
            position: absolute;
            left: 0;
            color: $beige140;
            z-index: 1;
            margin-left: 20px;

            @include ie11-only() {
                top: 0;
                z-index: 2;
            }
        }

        h1 {
            font-family: 'Campton', sans-serif;
            color: $beige140;
            font-weight: $weight-book;
            font-size: 20px;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        @include mobile() {
            margin: 0;
            color: white;
            background-color: $green;
            border-bottom: none;
            height: 60px;
            position: fixed;
            z-index: 100;

            &-content {
                margin: 18px auto;
            }

            a {
                color: white;
            }

            h1 {
                color: white;
                font-size: 18px;
            }
        }

        .icon-arrow-left {
            font-size: 26px;
        }
    }

    .page-container {
        display: flex;
        align-items: center;
        flex-flow: column;

        @include tabletOrDesktop() {
            margin-top: $navigation-height;
        }
    }

    .page-content {
        width: 100%; // Needed because parent (page-container) is display:flex;
        @include mobile() {
            padding: 0;
            margin-top: 92px;
            margin-bottom: $navigation-height + 15;
        }

        @include tabletOrDesktop() {
            max-width: $content-max-width-desktop;
            margin: 75px auto 10px;
            padding: 0 15px;
        }
    }
    z-index: 2; // above .message-panel
}
