@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-components/scss/MediaQuery';

body {
    background: 0 11rem no-repeat $beige10;
    background-size: contain;
}

.common-login-page-template {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100%;
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    & > .logo-ctr {
        position: absolute;
        top: 30px;
        width: 100%;

        svg {
            margin: 0 auto;
            display: block;
            width: 170px;
            fill: $green;
        }
    }

    @include tablet() {
        background-position: 0 bottom;

        & > .logo-ctr {
            top: 60px;
            svg {
                width: 320px;
                height: inherit;
            }
        }
    }

    @include isDesktop {
        background-size: cover;
        background-position: 0 0;
        & > .logo-ctr {
            top: 40px;
            svg {
                margin: 0 auto 0 150px;
                width: 240px;
            }
        }
    }
}
