@import '~@ecster/ecster-styles/scss/v2/common/colors';
@import '~@ecster/ecster-components/scss/MediaQuery';

body {
    background: 0 11rem no-repeat $beige10;
    background-size: contain;
}

.common-login-page-template {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100%;
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .logo-header {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;

        a {
            display: inline-block; // only logo clickable
        }

        svg {
            display: block;
            width: 170px;
            fill: $green;
        }
    }

    @include tablet() {
        background-size: cover;
        background-position: 0 bottom;

        & > .logo-header {
            top: 60px;

            svg {
                width: 320px;
                height: inherit;
            }
        }
    }

    @include desktop {
        background-size: cover;
        background-position: 0 0;

        & > .logo-header {
            top: 40px;
            text-align: left;
            padding-left: 150px;

            svg {
                width: 240px;
            }
        }
    }
}
