@import '../../styles/mixins';
@import '~@ecster/ecster-styles/scss/v2/common/colors';

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    $size: 100px;
    $width: 12px;

    @mixin spinner-border() {
        position: absolute;
        display: block;
        width: $size;
        height: $size;
        content: '';
        box-sizing: border-box;
        border: $width solid transparent;
        border-radius: 50%;
    }

    position: relative;
    width: $size;
    height: $size;
    margin: 20px auto;

    &1 {
        @include spinner-border();
        border-top: $green $width solid;
        //z-index: 1;
    }

    &2 {
        @include spinner-border();
        border-right: $red $width solid;
        //z-index: 2;
    }

    &3 {
        @include spinner-border();
        border-bottom: $blue $width solid;
        //z-index: 3;
    }

    &4 {
        @include spinner-border();
        border-left: $yellow $width solid;
        //z-index: 4;
    }
}

// 1: #488e6e #6ca58c
// 2: #6ca58c #95c0ac
// 3: #95c0ac #b9d6c9
// 4: #b9d6c9 #def0e8