
.login-form-SE {
    text-align: center;

    .help-button {
        text-align: right;
    }

    .text-input {
        width: 27rem;
        margin: 0 auto 15px auto;
    }

    .spinner--center-x {
        margin-top: 18px;
        margin-bottom: 20px;
    }
}
