@import '../../../styles/mixins';

.authentication-login-in-progress {
    text-align: center;

    .start-manually {
        max-height: 200px;
        overflow: hidden;
        transition: max-height 0.5s;

        &.hidden {
            max-height: 0;
            pointer-events: none;
        }
    }
}
