@import "~@ecster/ecster-components/scss/MediaQuery";

.login-form-SE {
    text-align: center;

    .help-button {
        text-align: right;
        //position: relative;
        //margin-top: -20px;
        transform: translateY(-20px);
    }

    .ssn-input {
        width: 27rem;
        margin: 0 auto 15px auto;
    }

    .spinner--center-x {
        margin-top: 18px;
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 30px;
    }
}
