@import '../../../styles/mixins';

.account-raise-credit-page {
    .center {
        text-align: center;
    }

    .result-panel {
        h2 {
            color: black;
        }
        img {
            margin-bottom: 20px;
            width: 82px;
            height: 82px;
        }
        a {
            font-weight: bold;
        }
    }

    .no-raise-info {
        font-size: 14px;
        margin-top: 15px;
        i {
            font-size: 16px;
            color: $purple;
            margin-right: 5px;
        }
    }

    .no-raise-label {
        color: $gray80;
    }

}
