@import '../../../styles/mixins';

.account-raise-credit-page {
    .center {
        text-align: center;
    }

    .result-panel {
        padding: 55px 25px;
        h2 {
            color: black;
        }
        img {
            margin-bottom: 20px;
            width: 82px;
            height: 82px;
        }
        a {
            font-weight: bold;
        }
    }

}
