@import "./constants";
@import "~@ecster/ecster-styles/scss/v2/common/colors";

// menu shown / hidden with calculated inline css i SubMenu.js
.submenu {
    position: fixed;
    width: 100%;
    z-index: $z-submenu;
    transform: translateY(-100%);
    will-change: transform;
    transition: transform .5s cubic-bezier(1, 0, 0, 1);

    &.from-top {
        position: absolute;
        top: -1px; // compensate for top border
        right: 0;
        max-width: 200px;
        border: 1px solid $gray60;
        border-top: none;
        box-shadow: 0 0 4px $gray60;
    }

    &.from-bottom {
        bottom: 0;
    }

    &.show{
        transform: translateY(0);
    }
}

.top-navigation .arrow {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    z-index: 3;
    top: -24px;
    right: 20px;
}

.submenu.show {
}

.submenu-item {
    height: $item-height;
    padding: 0;
    border-top: 1px solid $gray60;
    background: #fff;
    a, a:visited {
        display: block;
        padding: 14px 24px;
        color: $gray140;
        text-decoration: none;
    }
    &.active a {
        color: $gray120;
    }
    i {
        float: right;
        color: $green;
    }
    &.active {
        font-weight: bold;
    }
}
