@import "./constants";
@import "~@ecster/ecster-styles/scss/v2/common/colors";

// menu shown / hidden with calculated inline css i SubMenu.js
.submenu {
    position: fixed;
    width: 100%;
    z-index: $z-submenu;
    transition: margin-bottom .2s ease-in-out, margin-top .2s ease-in-out;

    &.from-top {
        top: 0;
    }

    &.from-bottom {
        bottom: 0;
    }
}

.submenu.show {
}

.submenu-item {
    height: $item-height;
    padding: 14px 24px;
    border-top: 1px solid $gray60;
    background: #fff;
    i {
        float: right;
    }
}

.submenu-item a,
.submenu-item a:visited {
    color: $gray140;
    text-decoration: none;
}
