@import "~@ecster/ecster-styles/scss/v2/common/colors";
@import "./constants";
@import "../../../styles/constants";

.top-navigation {
    width: 100%;
    position: fixed;
}

.top-menu {
    position: relative;
    z-index: $z-menu;
    background: $green;
    height: $navigation-height;

    a {
        color: $white;
    }
}
