// TODO: move to ecster-components
@import "~@ecster/ecster-styles/scss/v2/common/colors";
.panel {
    padding: 15px;
    background: $white;
    border-radius: 4px;
    border: 1px solid $beige40;
}
