.editable-input {
    .input-wrapper {
        width: 100%;
    }
}

.editable-input-phone {
    .input-wrapper > div {
        &:first-child {
            width: 60%;
        }
        &:last-child {
            width: 40%;
        }
    }
}
